.about {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.resources-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    opacity: 0.9;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}