#quotes {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: wheat;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 4px solid rgb(158, 71, 71);
    background-color: beige;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quote:hover {
    background-color: rgb(208, 220, 224);
}

.quote p {
    margin: 0;
    font-size: 16px;
}

.quote p.author {
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
    color: #666;
}

.quote-details {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: wheat;
    border-left: 4px solid rgb(158, 71, 71);;
    border-radius: 4px;
}

.quote:target .quote-details {
    display: block;
}

h2 {
    text-align: center;
    /* width: 90%; */
    /* background-color: wheat;
    border: 1px solid black; */
    margin: 0 auto;
    padding: 10px;
}

/* scroll-to-top */
body {
    scroll-behavior: smooth;
}

.Back-to-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(36, 34, 34, 0.4);
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.4s;
}

.Back-to-top:hover {
    opacity: 0.9;
}

#Back-to-top:target {
    display: block;
}