body {
    background-color: burlywood;
}

#title {
    height: 100px;
    background-color: rgb(138, 57, 57);
    border: 2px solid black;
    padding: 20px;
    color: white;
}

#date {
    text-align: center;
    font-style: italic;
}

#timeline {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

h1 {
    margin: 0;
    text-shadow: 5px 5px 10px black;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

h3 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.timeline {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    background-color: wheat;
}

.image-container {
    display: flex;
    align-items: center;
}

.image-container img {
    width: 130px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

nav ul{
    height: 60px;
    background-color: rgb(158, 71, 71);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    font-size: 20px;
}

nav ul li a {
    color: wheat;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.divWithLine {
    margin: 2px 0 10px 0;
    width: 100%;
    height: 0;
    border: 1px solid black;
}

@media only screen and (max-width: 767px) {
    h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    nav ul li a {
        font-size: 10px;
    }

    .image-container img {
        height: 120px;
    }

    nav ul {
        margin-top: 20px;
        width: 100%;
        height: 40px;
    }

    #title {
        height: 80px;
    }
}

